*{
    margin: 0 auto;
}
body{
    font-family: work Verdana, Geneva, Tahoma, sans-serif;
}
header{

    background: #FFF4E7;
    padding-bottom: 2%;
}
#title{
    font-size: 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
}
nav ul{

    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 15px;
    margin-right: 60px;
    font-weight: 00;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}
.moto-title{
    text-align: center;
    font-size: 40px;
    padding-top: 3%;
}
.moto-description{
    text-align: center;
    font-size: 12px;
    padding-top: 2%;
    color: #727272;
}
#button{
    text-align: center;
    margin-top: 2%;
}
.explore-button{
    color: #FFFFFF;
    background: linear-gradient(#FF900E, #80582A);
    border: 0;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#banner-img{
    display: block;
    margin: 0 auto;
    width: 78%;
    margin-top: 3%;
}
.team-container{
    display: flex;
    align-items: center;
    padding: 5% 0% 5% 15%;
    /*! width: 50%; */
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.image-1{
    
    width: 230px;
}
.team-details{

    padding: 0% 5%;
}
.team-title{

    font-size: 27px;
    /*! margin-bottom: 3%; */
}
.team-description{

    font-size: 12px;
    color: #727272;
    margin-right: 34%;
    padding: 3% 0;
}
#quick{

    color: #727272;
    font-weight: 400;
}
#feature{

    color: #FF900E;
}
.feature-container{
    padding-left: 8%;
    display: flex;
    gap: 127px;
    padding-top: 2%;
}
.feature-detail{

    margin-top: 30px;
}
.feature-title{
    font-size: 30px;
    border-left: 3px solid #FF900E;
    padding-left: 15px;
}
.feature-description{
    font-size: 12px;
    color: #727272;
    margin-top: 20px;
}
.feature-name{

    padding: 60px 0px 0px 20px;
}
.feature-name-title{

    font-size: 12px;
    margin-bottom: 10px;
}
.feature-name-description{
    
    color: #727272;
    font-size: 12px;
}
.feature-image{
    
    /*! margin-left: 268px; */
}
.feature-image img{

    width: 70%;
}
.badge{
    background: #FF900E;
    width: 200px;
    padding: 30px 20px;
    border-radius: 5px;
    position: relative;
    right: 285px;
    bottom: 75px;
}
#year{

    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}
#experience{

    color: #FFFFFF;
    text-align: center;
}
.facts-title{
    font-size: 35px;
    padding-left: 10%;
}
.facts-describe{
    font-size: 12px;
    color: #727272;
    margin-top: 20px;
    padding-left: 10%;
}
.awards-content{

    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
.awards{

    text-align: center;
    line-height: 30px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 140px;
    height: 140px;
    padding: 25px;
    align-content: center;
    box-shadow: 8px 8px 20px 0px #FF900E;
}
.awards img{

}
.award-title{

    font-size: 30px;
    /*! text-align: center; */
}
.award-desc{
    
    color: #727272;
}
.sponsor-container{

    padding-top: 65px;
}
.sponsor-title{

    font-size: 35px;
    text-align: center;
}
.sponsor-describe{

    color: #727272;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.logos{
    
    display: flex;
    margin-top: 40px;
    width: 80%;
}
.logos img{
    
    width: 9%;
}
footer{
    text-align: center;
    color: #424242;
    font-size: 14px;
    width: 80%;
    background: #FFF4E7;
    height: 60px;
    align-content: center;
    margin-top: 90px;
}

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 20px;
    }
    nav ul li{
        margin: 0 25px 0 0;
    }
    .moto-title{
        font-size: 25px;
    }
    .moto-description{
        font-size: 7px;
    }
    .explore-button{
        padding: 7px 9px;
        font-size: 7px;
    }
    .team-container{
        flex-direction: column;
        padding: 5% 5% 0% 5%;
    }
    .image-1{
        width: 130px;
    }
    .team-details{
        padding-top: 5%;
    }
    .team-title{
        font-size: 20px;
        text-align: center;
    }
    .team-description{
        font-size: 12px;
        text-align: center;
        margin-right: 0;
        padding: 3% 0;
    }
    .feature-container{
        flex-direction: column;
        padding: 0;
    }
    .feature-title{
        font-size: 12px;
    }
    .feature-description{
        font-size: 6px;
    }
    .feature-name{
        padding-top: 20px;
    }
    .feature-name-title{
        font-size: 9px;
    }
    .feature-name-description{
        font-size: 6px;
    }
    .feature-image{
        margin-left: 35px;
        /*! display: block; */
    }
    .feature-image img{
        width: 90%;
        margin: 0;
    }
    .badge{
        right: 18px;
    }
    .facts-title{
        font-size: 20px;
    }
    .facts-describe{
        font-size: 7px;
    }
    .awards{
        width: 90px;
        height: 90px;
    }
    .awards-content{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        row-gap: 25px;
        justify-content: normal;
    }
    .award-title{
        font-size: 20px;
    }
    .award-desc{
        font-size: 10px;
    }
    footer{
        font-size: 10px;
    }
}