*{
    margin: 0 auto;
}
body{
    font-family: work Verdana, Geneva, Tahoma, sans-serif;
}
header{

    background: #FFF4E7;
    padding-bottom: 2%;
}
#title{
    font-size: 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
}
nav ul{

    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 15px;
    margin-right: 60px;
    font-weight: 00;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}
.moto-title{
    text-align: center;
    font-size: 40px;
    padding-top: 3%;
}
.moto-description{
    text-align: center;
    font-size: 12px;
    padding-top: 2%;
    color: #727272;
}
#button{
    text-align: center;
    margin-top: 2%;
}
.explore-button{
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#banner-img{
    display: block;
    margin: 0 auto;
    width: 78%;
    margin-top: 3%;
}
.feature-container{
    display: flex;
    align-items: center;
    padding: 5% 0% 5% 15%;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.image-1{
    
    width: 230px;
}
.feature-details{

    padding: 0% 5%;
}
.feature-title{

    font-size: 27px;
    /*! margin-bottom: 3%; */
}
.feature-description{

    font-size: 12px;
    color: #727272;
    margin-right: 34%;
    padding: 3% 0;
}
#quick{

    color: #727272;
    font-weight: 400;
}
#feature{

    color: #FF900E;
}

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 20px;
    }
    nav ul li{
        margin: 0 25px 0 0;
    }
    .moto-title{
        font-size: 25px;
    }
    .moto-description{
        font-size: 7px;
    }
    .explore-button{
        padding: 7px 9px;
        font-size: 7px;
    }
    .feature-container{
        flex-direction: column;
        padding: 5% 5% 0% 5%;
    }
    .image-1{
        width: 130px;
    }
    .feature-details{
        padding-top: 5%;
    }
    .feature-title{
        font-size: 20px;
        text-align: center;
    }
    .feature-description{
        font-size: 12px;
        text-align: center;
        margin-right: 0;
        padding: 3% 0;
    }
}